html, body, .content-container, .app-container, .vcenter-parent, #react-container {
  //height: 100%;
  //min-height: 100% !important;
}

.card {
  font-size: .8rem;

  .card-header {
    font-size: 1rem;
    color: white;
  }
}

.content-container {
  width: 100%;
  padding: 1rem;
  padding-top: 5rem;
  background-color: #FBFBFB;
}

.body-container {
  //overflow: scroll;
}

@include media-breakpoint-up(md) {
  .vcenter-parent {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .registration-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.light-shadow {
  box-shadow: 0 0 .5rem #676767;
}

body {
  //background-image: url('/assets/img/contemporary_china.png');
  font-family: Lato, Helvetica, sans-serif;
  background: repeating-linear-gradient(-45deg, #F1F1F1, #F1F1F1 .1rem, white .2rem, white 1.5rem);
  min-height: 100%;
  height: 100% !important;
}

.auth-card {
  padding: .8rem;
}

hr {
  width: 50%;
  align: center;
  margin-top: .5rem;
  margin-bottom: 1.1rem;
  height: .1rem;
  border: 0;
  background: $brand-info;
  background: linear-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $brand-info));
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $brand-info));
}

.jumbotron {
  hr {
    background: $brand-info;
    background: linear-gradient(linear, 0 0, 100% 0, from($jumbotron_bg), to($jumbotron_bg), color-stop(50%, $brand-info));
    background: -webkit-gradient(linear, 0 0, 100% 0, from($jumbotron_bg), to($jumbotron_bg), color-stop(50%, $brand-info));
  }
}

.model-info .row {
  font-size: 1.2rem;
  padding-bottom: .4rem;

  .prop {
    font-weight: 700;
  }
}