.form-validation-error {
  font-size: .8rem;
  padding-top: .3rem;
}

.Select-control {
  border: 0;
  padding: 0;
  height: 1rem;

  &:hover {
    box-shadow: 0;
  }
}

.Select--single {
  padding-right: .1rem !important;
}

.Select-value {
  padding: 0 !important;
}

.Select-input {
  height: 1.9rem;
}

.Select-arrow-zone {
  padding-right: 0;
}

.btn-block:after {
  padding-bottom: 2rem;
}