.form-validation-error {
  @extends .muted-text;
  @extends .danger-text;
  font-size: .8rem;
  padding-top: .3rem;
  transition: display 500ms linear;
}

.Select-control {
  border: 0;
  padding: 0;
  height: 1rem;

  &:hover {
    box-shadow: 0;
  }
}

.Select-value {
  line-height: 1.7rem;
}

.Select-input {
  height: 1.9rem;
}