.form-validation-error {
  font-size: .8rem;
  padding-top: .3rem;
}

.form-control {
  z-index: 1
}

.Select-control {
  border: 0;
  padding: 0;
  height: 1rem;

  &:hover {
    box-shadow: 0;
  }
}

//.Select--single {
  //padding-right: .1rem !important;
  //padding-left: .1rem !important;
//}

.Select-value {
  padding: 0 !important;
}

//.Select-input {
//  height: 1.9rem;
//}

.Select-arrow-zone {
  padding-right: 0;
}

.btn-block:after {
  padding-bottom: 2rem;
}

//.checkbox-group {
//  width: 100%;
//  padding-bottom: .5rem;
//
//  button {
//    margin-top: .6rem !important;
//    margin-top: .4rem !important;
//  }
//
//  .checkbox-label {
//    margin-left: 1.5rem;
//  }
//
//  input {
//    padding-left: 3rem;
//    padding-right: 1rem;
//  }
//}
//
//.checkbox {
//  label {
//    padding-left: 3rem;
//  }
//
//  &:last-of-type {
//    padding-bottom: .6rem;
//  }
//}