@include media-breakpoint-down(xs) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
    float: none;
  }
  .navbar-brand {
    float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
  }

  .dropdown.open > .dropdown-menu {
    margin: 0 1rem 1rem 1rem;
  }

  .flex-nav {
    display: block !important;
  }
}

@include media-breakpoint-up(sm) {
  .collapse {
    display: block !important;
  }
}

.nav-item.right {
  margin-left: auto !important;
  padding-right: 1rem;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
  max-height: 100rem;
  opacity: 1;
}

.user-dropdown {
  color: rgba(0, 0, 0, 0.5) !important;
}

.nav-logo {
  height: 3rem;
  padding-left: .6rem;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-nav > .nav-link {
  padding-top: .7rem;
  padding-left: .7rem;
  font-family: Montserrat;
  font-size: 1rem;
}