h1.page-header {
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 3rem;
  margin: 0 0 1.4rem;
  font-weight: 300;
  text-align: center;

  @include media-breakpoint-down(xs) {
    font-size: 2.8rem;
  }

  &::after {
    content: "";
    display: block;
    margin: .4rem auto;
    height: .3rem;
    width: 65%;
    background: $brand-success;
    background: linear-gradient(linear, -10% 0, 110% 0, from(white), to(white), color-stop(50%, $brand-success));
    background: -webkit-gradient(linear, -10% 0, 110% 0, from(white), to(white), color-stop(50%, $brand-success));

    @include media-breakpoint-down(xs) {
      //background: $brand-success;
      width: 100%;
      margin: 0;
    }
  }
}

hr.header-hr {
  color: green;
}
